### 24/10/2021, Sunday

## IBM Data Engineering - Python Course

In [1]:
# Check the Python Version

import sys
print(sys.version)

3.7.4 (tags/v3.7.4:e09359112e, Jul  8 2019, 19:29:22) [MSC v.1916 32 bit (Intel)]

<h2 id="types_objects" align="center">Types of objects in Python</h2>

<p>Python is an object-oriented language. There are many different types of objects in Python. Let's start with the most common object types: <i>strings</i>, <i>integers</i> and <i>floats</i>. Anytime you write words (text) in Python, you're using <i>character strings</i> (strings for short). The most common numbers, on the other hand, are <i>integers</i> (e.g. -1, 0, 100) and <i>floats</i>, which represent real numbers (e.g. 3.14, -42.0).</p>

In [2]:
# Type of 12

type(12)

int

In [3]:
# Type of 2.14

type(2.14)

float

In [4]:
# Type of "Hello, Python 101!"

type("Hello, Python 101!")

str

In [5]:
type(True)

bool

In [6]:
# System settings about float type

sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

<h3 id="convert">Converting from one object type to a different object type</h3>
<p>You can change the type of the object in Python; this is called typecasting. For example, you can convert an <i>integer</i> into a <i>float</i> (e.g. 2 to 2.0).</p>
<p>Let's try it:</p>

In [7]:
# Convert 2 to a float

float(2)

2.0

<p>When we convert an integer into a float, we don't really change the value (i.e., the significand) of the number. However, if we cast a float into an integer, we could potentially lose some information. For example, if we cast the float 1.1 to integer we will get 1 and lose the decimal information (i.e., 0.1):</p>

In [9]:
# Casting 1.1 to integer will result in loss of information

int(1.1)

1

In [10]:
int(3.145239)

3

In [11]:
int(5.9)

5

In [12]:
# Convert a string into an integer

int('1')

1

In [13]:
# Convert the string "1.2" into a float

float('1.2')

1.2

In [14]:
# Convert an integer to a string

str(1)

'1'

In [15]:
# Convert True to int

int(True)

1

In [16]:
# Convert 0 to boolean

bool(0)

False

In [17]:
# Convert True to float

float(True)

1.0

In [18]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(6//2)

int

<h3 id="exp">Expressions and Variables</h3>

<p> we can use the double slash for integer division, where the result is rounded to the nearest integer:

In [20]:
# Integer division operation expression

25 // 5

5

In [21]:
# Integer division operation expression

25 // 6

4

In [24]:
x = 43 + 60 + 16 + 41
print("the value of x is:", x)

y = x / 60
print(y)

the value of x is: 160
2.6666666666666665